<div class="container">
    <div class="row">
        <form>
            <div class="form-group">
                <label for="url">URL</label>
                <input ng-model="url" type="url" class="form-control" id="url" placeholder="URL">
            </div>
            <div class="form-group">
                <label for="num">Number of entries</label>
                <input ng-model="num" type="number" min="1" class="form-control" id="num" placeholder="Number">
            </div>
            <button ng-click="buttonClicked()" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Score</th>
                    <th>Index</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items | orderBy:'price' | limitTo:num">
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.score}}</td>
                    <td>{{item.index}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>